$color_bg: #569c87;
$color_font: #fcca46;

.headfoot {
  width: 100%;
  text-align: center;
  font-size: 45px;
  background-color: $color_bg;
  color: $color_font;
}

.foot1 {
  font-size: 30px;
  font-family: 'Trebuchet MS';
  background-color: $color_bg;
  color: $color_font;
}
.foot2 {
  font-size: 30px;
  font-family: 'Trebuchet MS';
  background-color: $color_bg;
  color: $color_font;
}
