body {
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2% 5% 120px 5%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  margin: 1.5rem;
  box-shadow: 0 0 20px #c2c1c1;
  font-size: 20px;
  &:hover {
    opacity: 0.9;
    font-size: 22px;
  }
}

a {
  text-align: center;
  text-decoration: none;
}

/* Téléphones & tablettes */
@media screen and (max-width: 1024px) {
  body {
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
  }
 
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 5% 120px 5%;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 250px;
    height: 350px;
    box-sizing: border-box;
    padding: 2% 0;
    box-shadow: 0 0 20px #c2c1c1;
    text-align: center;
    font-size: 20px;
    &:hover {
      font-size: 20px;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
  }
}

/* les couleurs */

$bg_menu1: #fcdfdb;
$bg_menu2: #fff5fe;
$bg_menu3: #EDEFEF;
$bg_menu4: #fdfffd;
$color_border: #c2c1c1;

/* les dégradés*/

$color_one_m2: #c67412;
$color_two_m2: #a56799;
$color_tree_m2: #6e4ccc;

$color_one_m3: #0228dd;
$color_two_m3: #0670f3;
$color_tree_m3: #229df9;

$color_one_m4: #489b40;
$color_two_m4: #a3db88;
$color_tree_m4: #b4f679;
