body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.carte {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 30% 5% 30%;
}

a {
  text-align: center;
  text-decoration: none;
}
/* les couleurs */

$bg_menu1: #fcdfdb;
$bg_menu2: #fff5fe;
$bg_menu3: #f9f9f9;
$bg_menu4: #fdfffd;

/* les dégradés*/

$color_one_m2: #c67412;
$color_two_m2: #a56799;
$color_tree_m2: #6e4ccc;

$color_one_m3: #0228dd;
$color_two_m3: #0670f3;
$color_tree_m3: #229df9;

$color_one_m4: #489b40;
$color_two_m4: #a3db88;
$color_tree_m4: #b4f679;
