body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.carte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.menu_one_index,
.menu_two_index,
.menu_tree_index,
.menu_four_index {
  flex: 1 1 auto;
  width: 5%;
  height: 5%;
  margin: 2% 15%;
  box-sizing: border-box;
  padding: 2% 0;
  box-shadow: 0 0 20px #c2c1c1;
  text-align: center;
  font-size: 15px;
  &:hover {
    opacity: 0.8;
    font-size: 16px;
  }
}

a {
  text-align: center;
  text-decoration: none;
}

/* Téléphones & tablettes */
@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  .menu_one_index,
  .menu_two_index,
  .menu_tree_index,
  .menu_four_index {
    flex: 1 1 auto;
    width: 5%;
    height: 5%;
    margin: 2% 15%;
    box-sizing: border-box;
    padding: 2% 0;
    box-shadow: 0 0 20px #c2c1c1;
    text-align: center;
    font-size: 15px;
  }
  a {
    text-align: center;
    text-decoration: none;
  }
}

/* les couleurs */

$bg_menu1: #fcdfdb;
$bg_menu2: #fff5fe;
$bg_menu3: #EDEFEF;
$bg_menu4: #fdfffd;
$color_border: #c2c1c1;

/* les dégradés*/

$color_one_m2: #c67412;
$color_two_m2: #a56799;
$color_tree_m2: #6e4ccc;

$color_one_m3: #0228dd;
$color_two_m3: #0670f3;
$color_tree_m3: #229df9;

$color_one_m4: #489b40;
$color_two_m4: #a3db88;
$color_tree_m4: #b4f679;
