@font-face {
  font-family: 'boston';
  src: url(../../font/boston/Fonts/cfboston-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'croissant';
  src: url(../../font/croissant/Fonts/croissantone-regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grunge';
  src: url(../../font/grunge/Fonts/sfgrungesans-bold.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
