/* Index */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Croissant+One&family=Dancing+Script:wght@400;700&family=Kalam:wght@300&family=Kaushan+Script&family=Neuton&display=swap');
@font-face {
  font-family: 'boston';
  src: url('../../font/boston/Fonts/cfboston-regular.ttf') format('truetype');
}
/* carte 1*/
.menu_one {
  background-color: $bg_menu1;
}

.title1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: black;
}

.menu1 {
  text-align: center;
  font-family: 'Kalam', cursive;
  color: #000;
}

/* carte 2*/
.menu_two {
  background-color: $bg_menu2;
}

.title2 {
  font-family: 'Croissant One', cursive;
  background: -webkit-linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu2 {
  font-family: 'Neuton', serif;
  color: $color_one_m2;
}

/* carte 3*/
.menu_tree {
  background-color: $bg_menu3;
}

.menu3 {
  color: $color_tree_m3;
}

.title3 {
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* carte 4*/
.menu_four {
  background-color: $bg_menu4;
}

.menu4 {
  color: $color_two_m4;
}

.title4 {
  font-family: 'Kaushan Script', cursive;
  background: -webkit-linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.rectangle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
#next {
  display: flex;
  justify-content: space-around;
  font-family: 'Trebuchet MS';
  background-color: #579c87;
  color: #fdcb46;
  font-size: 22px;
  padding: 0 1em;
  border-radius: 10px;
}

/* menu 1 */
.enchantee {
  background-color: $bg_menu1;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family: 'Trebuchet MS';
  margin: 4%;
}
.note {
  margin-top: 2%;
  text-align: center;
  font-size: 20px;
  background: -webkit-linear-gradient(0.025turn, #f16263, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-family: 'Caveat', cursive;
  text-align: center;
}

.subtitle_m1 {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.description_price_m1 {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.description_m1 {
  display: flex;
  width: 500px;
}

.price_m1 {
  display: flex;
  float: right;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-family: 'Caveat', cursive;
  text-align: center;
}
/* menu 2 */
.francaise {
  background-color: $bg_menu2;
}

.title_m2 {
  text-align: center;
  font-size: 35px;
  font-family: 'Croissant One', cursive;
  background: -webkit-linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle_m2 {
  font-size: 24px;
  font-family: 'Neuton', serif;
  text-align: center;
  padding: 0;
}

.color_one_m2 {
  color: $color_one_m2;
}

.color_two_m2 {
  color: $color_two_m2;
}

.color_tree_m2 {
  color: $color_tree_m2;
}

.description_price_m2 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Neuton', serif;
  padding: 3%;
}

.description_m2 {
  display: flex;
  width: 500px;
}

.price_m2 {
  display: flex;
  float: right;
}

/* menu 3 */
.papilles {
  background-color: $bg_menu3;
}

.title_m3 {
  text-align: center;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle_m3 {
  font-size: 24px;
  font-family: 'Kalam', cursive;
  text-align: center;
  padding: 0;
}

.description_price_m3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Kalam', cursive;
  padding: 3%;
}

.description_m3 {
  display: flex;
  width: 500px;
}

.price_m3 {
  display: flex;
  float: right;
}

/* menu 4 */
.palette {
  background-color: $bg_menu4;
}

.title_m4 {
  text-align: center;
  font-size: 35px;
  font-family: 'Kaushan Script', cursive;
  background: -webkit-linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle_m4 {
  font-family: 'Kalam', cursive;
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.description_price_m4 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Kalam', cursive;
  padding: 3%;
}

.description_m4 {
  display: flex;
  width: 500px;
}

.price_m4 {
  display: flex;
  float: right;
}

/* Tous les menus*/
.souligne {
  display: inline;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.souligne:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #000;
  height: 2px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.souligne:hover:after,
.souligne:focus:after,
.souligne:active:after {
  right: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  width: 600px;
  margin-bottom: 15px;
}
/* Pages supp */
h5 {
  font-family: 'Cambria', serif;
  font-size: 20px;
  text-align: center;
  margin: 5%;
}

p {
  text-align: justify;
}

/* Téléphones et tablettes*/
@media screen and (max-width: 1024px) {
  /* carte 1*/
  .menu_one {
    background-color: $bg_menu1;
  }

  .title1 {
    font-family: 'Dancing Script', cursive;
    color: black;
  }

  .menu1 {
    font-family: 'Kalam', cursive;
  }

  /* carte 2*/
  .menu_two {
    background-color: $bg_menu2;
  }

  .title2 {
    font-family: 'Croissant One', cursive;
    background: -webkit-linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .menu2 {
    font-family: 'Neuton', serif;
    color: $color_one_m2;
  }

  /* carte 3*/
  .menu_tree {
    background-color: $bg_menu3;
  }

  .menu3 {
    color: $color_tree_m3;
  }

  .title3 {
    font-family: 'Dancing Script', cursive;
    background: -webkit-linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  /* carte 4*/
  .menu_four {
    background-color: $bg_menu4;
  }

  .menu4 {
    color: $color_two_m4;
  }

  .title4 {
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* Tous les menus */
  img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 33%;
  }

  /* menu 1 */
  .enchantee {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu1;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    margin: 4%;
  }
  .note {
    text-align: center;
    font-size: 20px;
    background: -webkit-linear-gradient(0.025turn, #f16263, #f6916a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  h2 {
    font-family: 'Caveat', cursive;
    text-align: center;
  }
 

  .subtitle_m1 {
    font-family: 'Caveat', cursive;
    font-size: 22px;
    text-align: center;
  }

  .description_price_m1 {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    font-family: 'Caveat', cursive;
    text-align: center;
  }
  /* menu 2 */
  .francaise {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu2;
  }

  .title_m2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Croissant One', cursive;
    background: -webkit-linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .subtitle_m2 {
    font-size: 22px;
    font-family: 'Neuton', serif;
    text-align: center;
  }

  .color_one_m2 {
    color: $color_one_m2;
  }

  .color_two_m2 {
    color: $color_two_m2;
  }

  .color_tree_m2 {
    color: $color_tree_m2;
  }

  .description_price_m2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Neuton', serif;
  }

  /* menu 3 */
  .papilles {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu3;
  }

  .title_m3 {
    text-align: center;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    background: -webkit-linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .subtitle_m3 {
    font-size: 20px;
    font-family: 'Kalam', cursive;
    text-align: center;
  }

  .description_price_m3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Kalam', cursive;
  }

  /* menu 4 */
  .palette {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu4;
  }

  .title_m4 {
    text-align: center;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .subtitle_m4 {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: center;
  }

  .description_price_m4 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: 'Kalam', cursive;
  }

  /* Pages supp */
  h5 {
    font-family: 'Cambria', serif;
    font-size: 20px;
    text-align: center;
    margin: 5%;
  }
}
