/* Index */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Croissant+One&family=Dancing+Script:wght@400;700&family=Kalam:wght@300&family=Kaushan+Script&family=Neuton&display=swap');
@font-face {
  font-family: 'boston';
  src: url('../../font/boston/Fonts/cfboston-regular.ttf') format('truetype');
}

/*temp*/
.enchante_subtitle {
  font-size: 24px;
  font-family: 'Caveat', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_menu {
  flex: auto;
  text-align: center;
}


/* carte 1*/
.menu_one {
  background-color: $bg_menu1;
}

.title1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: black;
}

.menu1 {
  text-align: center;
  font-family: 'Kalam', cursive;
  color: #000;
}

/* carte 2*/
.menu_two {
  background-color: $bg_menu2;
}

.title2 {
  background: white;
  color: black;
  position: relative;
  font-family: 'Croissant One', cursive;
  mix-blend-mode: multiply;
}
.title2::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
  content:'';
  mix-blend-mode : screen;
}

.menu2 {
  font-family: 'Neuton', serif;
  color: $color_one_m2;
}

/* carte 3*/
.menu_tree {
  background-color: $bg_menu3;
}

.menu3 {
  color: $color_tree_m3;
}

.title3 {
  background: white;
  font-family: 'Dancing Script', cursive;
  color: black;
  position: relative;
  mix-blend-mode: multiply;
}
.title3::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
  content: '';
  mix-blend-mode: screen;
}

/* carte 4*/
.menu_four {
  background-color: $bg_menu4;
}

.menu4 {
  color: $color_two_m4;
}

.title4 {
  background: white;
  color: black;
  position: relative;
  font-family: 'Kaushan Script', cursive;
  mix-blend-mode: multiply;
  width: 8.5em;
  height: 1.5em;
}

.title4::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
  content: '';
  mix-blend-mode: screen;
}

.rectangle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

#next {
  display: flex;
  justify-content: space-around;
  font-family: 'Trebuchet MS';
  background-color: #579c87;
  color: #fdcb46;
  font-size: 22px;
  padding: 0 1em;
  border-radius: 10px;
}

/* menu 1 */
.enchantee {
  background-color: $bg_menu1;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family: 'Trebuchet MS';
  margin: 4%;
}

.note {
  background: white;
  color: black;
  position: relative;
  margin-top: 2%;
  text-align: center;
  font-size: 20px;
  mix-blend-mode: multiply;
}

.note::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #f16263, #f6916a);
  content: '';
  mix-blend-mode: screen;
}

h2 {
  font-family: 'Caveat', cursive;
  text-align: center;
}

.enchante_subtitle {
  display: flex;
  font-family: 'Caveat', cursive;
  font-size: 34px;
  text-align: center;
  padding: 0;
}

.description {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  
}

.price {
  text-align: right;
  margin-left: 35px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-family: 'Caveat', cursive;
  text-align: center;
}
/* menu 2 */
.francaise {
  background-color: $bg_menu2;
}

.title_m2 {
  background: white;
  color: black;
  position: relative;
  font-family: 'Croissant One', cursive;
  font-size: 38px;
  mix-blend-mode: multiply;
}
.title_m2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
  content:'';
  mix-blend-mode : screen;
}

.francaise_subtitle {
  font-size: 30px;
  font-family: 'Neuton', serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.color_one_m2 {
  color: $color_one_m2;
}

.color_two_m2 {
  color: $color_two_m2;
}

.color_tree_m2 {
  color: $color_tree_m2;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Neuton', serif;
}


/* menu 3 */
.papilles {
  background-color: $bg_menu3;
}

.title_m3 {
  background: white;
  color: black;
  position: relative;
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
  mix-blend-mode: multiply;
}

.title_m3::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
  content:'';
  mix-blend-mode : screen;
}

.delice_subtitle {
  font-size: 24px;
  font-family: 'Kalam', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Kalam', cursive;
}


/* menu 4 */
.palette {
  background-color: $bg_menu4;
}

.title_m4 {
  background: white;
  color: black;
  position: relative;
  font-family: 'Kaushan Script', cursive;
  font-size: 38px;
  mix-blend-mode: multiply;
}

.title_m4::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #489b40, #a3db88, #b4f679);
  content:'';
  mix-blend-mode : screen;
}

.palette_subtitle {
  font-family: 'Kalam', cursive;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Kalam', cursive;
}

/* Tous les menus*/
.menu_single {
  min-width: 950px;
  padding: 2%;
}



.img_gauche {
  flex: initial;
}

.img_droite {
  flex: initial;
}

.description li {
  display: flex;
  justify-content: space-between;
}

.intitule {
  width: 100%;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

p {
  text-align: justify;
}

.souligne {
  position: relative;
  z-index: 0;
}
.souligne:after {
  content: '';
  transform-origin: 0 0; 
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background: #000;
  z-index: -1;
  opacity: 0.8;
  transition: transform .3s;
}
.souligne:hover:after,
.souligne:focus:after,
.souligne:active:after {
  transform: scaleX(1);
}

/* Pages supp */
h5 {
  font-family: 'Cambria', serif;
  font-size: 20px;
  text-align: center;
  margin: 5%;
}


/* Téléphones et tablettes*/
@media screen and (min-width: 900px) {
  .description li {
    display: flex;
    justify-content: space-between;
  }

  .menu_single {
    min-width: 900px;
    padding: 7%;
  }

  ul {
    margin: 5% 0;
    padding: 0;
  }
}



@media screen and (max-width: 1024px) {

  /* carte 1*/
  .menu_one {
    background-color: $bg_menu1;
  }

  .title1 {
    font-family: 'Dancing Script', cursive;
    color: black;
  }

  .menu1 {
    font-family: 'Kalam', cursive;
  }

  /* carte 2*/
  .menu_two {
    background-color: $bg_menu2;
  }

  .title2 {
    background: white;
    color: black;
    position: relative;
    font-family: 'Croissant One', cursive;
    mix-blend-mode: multiply;
  }
  .title2::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
    content:'';
    mix-blend-mode : screen;
  }

  .menu2 {
    font-family: 'Neuton', serif;
    color: $color_one_m2;
  }

  /* carte 3*/
  .menu_tree {
    background-color: $bg_menu3;
  }

  .menu3 {
    color: $color_tree_m3;
  }

  .title3 {
    background: white;
    color: black;
    position: relative;
    font-family: 'Dancing Script', cursive;
    mix-blend-mode: multiply;
  }
  
  .title3::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
    content:'';
    mix-blend-mode : screen;
  }

  /* carte 4*/
  .menu_four {
    background-color: $bg_menu4;
  }

  .menu4 {
    color: $color_two_m4;
  }

  .title4 {
    background: white;
    color: black;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    mix-blend-mode: multiply;
  }

  .title4::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #489b40, #a3db88, #b4f679);
    content:'';
    mix-blend-mode : screen;
  }

  /* Tous les menus */
  img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .description li {
    font-size: 15px;
    width: 90%;
  }

  .menu_single {
    min-width: 400px;
    padding: 1%;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
  }
  .enchante_subtitle img {
    width: 130px;
    height: auto;
  }

  .francaise_subtitle img {
    width: 95px;
    height: auto;
  }
  .delice_subtitle img {
    width: 65px;
    height: auto;
  }
  .palette_subtitle img {
    width: 75px;
    height: auto;
  }

  .intitule {
    width: 90%;
  }

  /* menu 1 */
  .enchantee {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu1;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    margin: 4%;
  }

  .note {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    font-size: 20px;
    mix-blend-mode: multiply;
  }
  .note:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #f16263, #f6916a);
    content: '';
    mix-blend-mode: screen;
  }

  h2 {
    font-family: 'Caveat', cursive;
    text-align: center;
  }
 

  .enchante_subtitle {
    font-family: 'Caveat', cursive;
    font-size: 22px;
    text-align: center;
  }

  .description {
    font-family: 'Caveat', cursive;
  }

  h3 {
    font-size: 18px;
    font-family: 'Caveat', cursive;
    text-align: center;
  }
  /* menu 2 */
  .francaise {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu2;
  }

  .title_m2 {
    background: white;
    color: black;
    position: relative;
    text-align: center;
    font-size: 35px;
    font-family: 'Croissant One', cursive;
    mix-blend-mode: multiply;
  }
  .title_m2:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #c67412, #a56799, #6e4ccc);
    content: '';
    mix-blend-mode: screen;
  }

  .francaise_subtitle {
    font-size: 22px;
    font-family: 'Neuton', serif;
    text-align: center;
  }

  .color_one_m2 {
    color: $color_one_m2;
  }

  .color_two_m2 {
    color: $color_two_m2;
  }

  .color_tree_m2 {
    color: $color_tree_m2;
  }

  .description {
    font-family: 'Neuton', serif;
  }

  /* menu 3 */
  .papilles {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu3;
  }

  .title_m3 {
    background: white;
    position: relative;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    mix-blend-mode: multiply;
  }

  .title_m3:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #0228dd, #0670f3, #229df9);
    content: '';
    mix-blend-mode: screen;
  }

  .delice_subtitle {
    font-size: 20px;
    font-family: 'Kalam', cursive;
    text-align: center;
  }

  .description {
    font-family: 'Kalam', cursive;
  }

  /* menu 4 */
  .palette {
    display: flex;
    flex-direction: column;
    background-color: $bg_menu4;
  }

  .title_m4 {
    background: white;
    text-align: center;
    color: black;
    font-size: 40px;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    mix-blend-mode: multiply;
  }
  .title_m4::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.025turn, #489b40, #a3db88, #b4f679);
    content: '';
    mix-blend-mode: screen;
  }
    
  .palette_subtitle {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-align: center;
  }

  .description {
    font-size: 17px;
    font-family: 'Kalam', cursive;
  }

  /* Pages supp */
  h5 {
    font-family: 'Cambria', serif;
    font-size: 20px;
    text-align: center;
    margin: 5%;
  }
}
